.title-line {
    font-size: 1.8em;
    color: orangered;
    line-height: 3em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.title-line::before {
    content: "";
    display: block;
    width: 110%;
    border-top: 1px solid #444;
    position: absolute;
    top: 1.7em;
    z-index: 9;
}
.title-line span {
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    z-index: 1000;
    position: relative;
}

.article_cv {
    display: grid;
    grid-template-columns: max(280px) 1fr;
}

/* profile */
.personal_data {
    border-right: 4px solid orange;
    position: relative;
}

.personal-data-content  {
    position: fixed;
}

.personal_data  .personal {
    max-width: 280px;
    padding-right: 20px;
}

.personal_data .profile-photo{
    border-radius: 50%;
}

.experiences .block{
    padding: 0 0 0 20px;
}

.experiences .row {
    padding-bottom: 2em;
    border-bottom: 1px solid #888;
    margin-bottom: 2em;
}

.text-sm {
    font-size: .9em;
}
.color-gray {
    color: #444;
}

/* Print */
@media print {
    .personal_data, aside {
        border-right: none;
        visibility: visible !important;
        width: 100vw !important;
        position: initial;
    } 
    .personal-data-content  {
        position: relative;
    }
    .personal-data  .personal {
        max-width: 100%;
    }
    
    .title-line::before {
        top: 3em;
    }
    
    /* .experiences .row {
        border-bottom: none;
    }   */
}
